---
import "../globals.css";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

  </head>
  <body>
    <slot />
  </body>
</html>
